<nav class="navbar">
  <div class="navbar__logo">
    <a [routerLink]="isLoggedIn() ? '/dashboard' : '/'">
      <img src="https://media.discordapp.net/attachments/1051210528464306196/1088017708710379561/logoPayTrack.png?width=1266&height=1266" alt="logoPayTrack" class="logoshico">
    </a>
  </div>
  <ul class="navbar__menu">
    <li><a routerLink="/dashboard">Dashboard</a></li>
    <li><a routerLink="/sabermas">Saber más</a></li>
    <li><a routerLink="/contacto">Contacto</a></li>
  </ul>

  <div class="navbar__profile">
    <div class="dropdown">
      <i class="fa-regular fa-user" style="color:white" class="dropdown-toggle"></i>
      <div class="dropdown-menu">
        <a class="dropdown-item" routerLink="/" (click)="logout()">Desconectar</a>
      </div>
    </div>
  </div>
</nav>
