.saber-mas {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  padding: 50px;
  color: white;
}

.card {
  max-width: 800px;
  padding: 30px;
  background-color: #08588aed;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  /* font-family: 'Roboto', sans-serif; */
  line-height: 1.6;
  color: white;
}

.card h1 {
  font-size: 2.5rem;
  font-weight: 700;
  margin-bottom: 1.5rem;
  text-align: center;
  color: #4a4a4a;
}

.card p {
  font-size: 1.1rem;
  margin-bottom: 1.5rem;
  text-align: justify;
}

.card ul {
  list-style-type: disc;
  padding-left: 1.5rem;
  margin-bottom: 1.5rem;
}

.card li {
  font-size: 1.1rem;
  margin-bottom: 0.5rem;
}

@media (max-width: 768px) {
  .saber-mas {
    padding: 30px 20px;
  }

  .card {
    padding: 20px;
  }

  .card h1 {
    font-size: 2rem;
  }
}
