<div class="saber-mas">
  <div class="card">
    <h1 style="color: white">¿Qué es PAYTRACK?</h1>
    <p>PAYTRACK <i class="fa-regular fa-registered"></i> es una Aplicación de Control de Gastos fácil de usar que te permite llevar un registro de tus
      gastos
      diarios, ofreciendo una forma accesible de controlar y analizar tus finanzas personales. Con esta aplicación,
      podrás:</p>
    <ul>
      <li>Registrar e iniciar sesión como usuario</li>
      <li>Administrar tus gastos personales</li>
      <li>Agregar, modificar y eliminar gastos</li>
      <li>Categorizar gastos</li>
      <li>Visualizar tus gastos</li>
    </ul>
    <p>Al utilizar la Aplicación de Control de Gastos, podrás mejorar tu habilidad para administrar tus finanzas y tomar
      decisiones informadas sobre tus gastos.</p>
  </div>
</div>
