<!-- gasto-form.component.html -->
<!-- <form (submit)="addGasto()">
  <mat-form-field>
    <input matInput [(ngModel)]="fecha" placeholder="Fecha" name="fecha" type="date" required>
  </mat-form-field>
  <mat-form-field>
    <input matInput [(ngModel)]="concepto" placeholder="Concepto" name="concepto" required>
  </mat-form-field>
  <mat-form-field>
    <mat-select [(ngModel)]="categoria" placeholder="Categoría" name="categoria" required>
      <mat-option value="compras">Compras</mat-option>
      <mat-option value="ocio">Ocio</mat-option>
      <mat-option value="hogar">Hogar</mat-option>
      <mat-option value="transporte">Transporte</mat-option>
      <mat-option value="otros">Otros</mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field>
    <input matInput [(ngModel)]="importe" placeholder="Importe" name="importe" type="number" step="0.01" required>
  </mat-form-field>
  <button mat-raised-button color="primary" type="submit">Agregar gasto</button>
</form> -->
