<div class="container">
  <div class="row">
    <div class="col-md-9">
      <div id="listado">
        <table class="table">
          <thead>
            <tr>
              <th><!-- Para el ícono de papelera --></th>
              <th scope="col-md-3" (click)="onHeaderClick('date')">Fecha <i class="fa-solid fa-sort"></i></th>
              <th scope="col-md-3" (click)="onHeaderClick('concept')">Concepto <i class="fa-solid fa-sort"></i></th>
              <th scope="col-md-3" (click)="onHeaderClick('category')">Categoría <i class="fa-solid fa-sort"></i></th>
              <th scope="col-md-3" (click)="onHeaderClick('amount')">Importe <i class="fa-solid fa-sort"></i></th>
              <th><!-- Para el ícono de guardar --></th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let gasto of gastos; let i = index">
              <td>
                <i class="fas fa-trash" (click)="deleteExpense(gasto)"></i>
              </td>
              <td *ngIf="editIndex !== i">{{ gasto.date | formatDate }}</td>
              <td *ngIf="editIndex === i">
                <input [(ngModel)]="editedGasto.date" type="date">
              </td>
              <td *ngIf="editIndex !== i">{{ gasto.concept }}</td>
              <td *ngIf="editIndex === i">
                <input [(ngModel)]="editedGasto.concept" type="text">
              </td>
              <td *ngIf="editIndex !== i">{{ gasto.category }}</td>
              <td *ngIf="editIndex === i">
                <select [(ngModel)]="editedGasto.category">
                  <option *ngFor="let cat of arrayCategoria" [value]="cat">{{ cat }}</option>
                </select>
              </td>
              <td *ngIf="editIndex !== i">{{ gasto.amount }} €</td>
              <td *ngIf="editIndex === i">
                <input [(ngModel)]="editedGasto.amount" type="number">
              </td>
              <td>
                <i *ngIf="editIndex !== i" class="fas fa-edit" (click)="enableEdit(i, gasto)"></i>
                <i *ngIf="editIndex === i" class="fas fa-save" (click)="saveEdited(userId, gasto)" style="margin-right:9px;"></i>
                <i *ngIf="editIndex === i" class="fas fa-times" (click)="cancelEdit()"></i>
              </td>
            </tr>
          </tbody>
        </table>

      </div>
      <div class="total-expenses">
        <h3>TOTAL GASTOS: {{ totalExpensesAmount }} €</h3>
      </div>
    </div>
    <div class="col-md-3">
      <aside class="filters-container">
        <h4 class="text-center">Filtros</h4>
        <button class="full-width" (click)="toggleFilter('month')">Filtrar por mes</button>
        <form *ngIf="selectedFilters['month']" (submit)="filterByMonth(filterMonth, filterYear)">
          <div class="ajuste-filtro">
            <label for="month" style="margin-right:-5px">Mes:</label>
            <input type="number" id="month" style="margin-right:9px" [(ngModel)]="filterMonth" name="month" min="1" max="12">
            <label for="year" style="margin-right:-5px">Año:</label>
            <input type="number" id="year" style="width:62px" [(ngModel)]="filterYear" name="year" min="2022">
          </div>
          <button class="filter-button" type="submit">Filtrar</button>
        </form>
        <button class="full-width" (click)="toggleFilter('category')">Filtrar por categoría</button>
        <form *ngIf="selectedFilters['category']" (submit)="filterByCategory(filterCategory)">
          <div class="ajuste-filtro">
            <label for="category">Categoría:</label>
            <select id="category" [(ngModel)]="filterCategory" name="category">
              <option *ngFor="let cat of arrayCategoria" [value]="cat">{{ cat }}</option>
            </select>
          </div>
          <button class="filter-button" type="submit">Filtrar</button>
        </form>
        <button class="full-width" (click)="toggleFilter('filterByCategoryAndMonth')">Categoría y mes</button>
        <form *ngIf="selectedFilters['filterByCategoryAndMonth']"
          (submit)="filterByCategoryAndMonth(filterCategory, filterMonth, filterYear)">
          <div class="ajuste-filtro">
            <label for="category">Categoría:</label>
            <select id="category" [(ngModel)]="filterCategory" name="category">
              <option *ngFor="let cat of arrayCategoria" [value]="cat">{{ cat }}</option>
            </select>
            <label for="month" style="margin-right:-5px">Mes:</label>
            <input type="number" id="month" style="margin-right:9px;" [(ngModel)]="filterMonth" name="month" min="1" max="12">
            <label for="year" style="margin-right:-5px">Año:</label>
            <input type="number" id="year" style="margin-right:2px; width:62px" [(ngModel)]="filterYear" name="year"
              min="2022">
            <button class="filter-button" type="submit">Filtrar</button>
          </div>
        </form>
        <button class="full-width clear-filters" (click)="clearFilters()">Limpiar filtros</button>

      </aside>

    </div>
  </div>
</div>
<br><br>
