<div class="container">
  <div class="row">
    <div class="col-md-9">
      <div id="listado">
        <table class="table">
          <thead>
            <tr>
              <th><!-- Para el ícono de papelera --></th>
              <th scope="col-md-3" (click)="onHeaderClick('date')">Fecha <i class="fa-solid fa-sort"></i></th>
              <th scope="col-md-3" (click)="onHeaderClick('concept')">Concepto <i class="fa-solid fa-sort"></i></th>
              <th scope="col-md-3" (click)="onHeaderClick('category')">Categoría <i class="fa-solid fa-sort"></i></th>
              <th scope="col-md-3" (click)="onHeaderClick('amount')">Importe <i class="fa-solid fa-sort"></i></th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let gasto of gastos">
              <td>
                <!-- <i class="fas fa-trash" (click)="deleteExpense(expense)"></i> -->
              </td>
              <td>{{ gasto.date | formatDate }}</td>
              <td>{{ gasto.concept }}</td>
              <td>{{ gasto.category }}</td>
              <td>{{ gasto.amount }} €</td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="total-expenses">
        <h3>TOTAL GASTOS: {{ totalExpensesAmount }} €</h3>
      </div>
    </div>
      <div class="col-md-3">
        <aside class="filters-container">
          <h4 class="text-center">Filtros</h4>
          <button class="full-width" (click)="toggleFilter('month')">Filtrar por mes</button>
          <form *ngIf="selectedFilters['month']" (submit)="filterByMonth(filterMonth, filterYear)">
            <label for="month">Mes:</label>
            <input type="number" id="month" [(ngModel)]="filterMonth" name="month" min="1" max="12">
            <label for="year">Año:</label>
            <input type="number" id="year" [(ngModel)]="filterYear" name="year" min="2022">
            <button class="filter-button" type="submit">Filtrar</button>
          </form>
          <button class="full-width" (click)="toggleFilter('category')">Filtrar por categoría</button>
          <form *ngIf="selectedFilters['category']" (submit)="filterByCategory(filterCategory)">
            <label for="category">Categoría:</label>
            <select id="category" [(ngModel)]="filterCategory" name="category">
              <option *ngFor="let cat of arrayCategoria" [value]="cat">{{ cat }}</option>
            </select>
            <button class="filter-button" type="submit">Filtrar</button>
          </form>
          <button class="full-width" (click)="toggleFilter('filterByCategoryAndMonth')">Categoría y mes</button>
          <form *ngIf="selectedFilters['filterByCategoryAndMonth']"
            (submit)="filterByCategoryAndMonth(filterCategory, filterMonth, filterYear)">
            <label for="category">Categoría:</label>
            <select id="category" [(ngModel)]="filterCategory" name="category">
              <option *ngFor="let cat of arrayCategoria" [value]="cat">{{ cat }}</option>
            </select>
            <label for="month">Mes:</label>
            <input type="number" id="month" [(ngModel)]="filterMonth" name="month" min="1" max="12">
            <label for="year">Año:</label>
            <input type="number" id="year" [(ngModel)]="filterYear" name="year" min="2022">
            <button class="filter-button" type="submit">Filtrar</button>
          </form>
          <button class="full-width clear-filters" (click)="clearFilters()">Limpiar filtros</button>

        </aside>

      </div>
    </div>
  </div>
  <br><br>
