<main class="main-content">
  <section class="hero">
    <img
      src="https://media.discordapp.net/attachments/1051210528464306196/1085882834796953651/logoPayTrack.png?width=616&height=616"
      alt="Descripción de la imagen" class="hero__image" />
    <div class="hero__content">
      <h1 class="hero__title">Bienvenido a PayTrack</h1>
      <p class="hero__description">
        La mejor solución para administrar tus gastos y lograr tus objetivos financieros.
      </p>
      <a href="login" class="cta-button">Acceder</a>
      <a href="register" class="cta-button">Registrarse</a>
    </div>
  </section>
</main>

